# Visual Studio files
.vs/
x64/
*.vcxproj*
*.sln
Debug/
Release/

# Visual Studio Code files
.vscode/

# Build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.dir

# Ignoring python cache files
__pycache__/
python*.btr

# VMD files
*.xyz

# Executive files
main
test
argos_nia_start
nia_start
all_tests
*.out
*.o

# ROOT CERN files
*.root

# GMSH files
*.pos*
*.msh*
*.geo*

# HDF5 format
*.hdf5
*.h5

# GNU plot files
*.gp

# CSVs
*.csv

# Archives
*.tar*
*.rar
*.zip

# Caches
*.cache*

# Configs
*.config
*.cfg
config*.json

# Drawings
*.vtk
*.stp

# Pyinstaller files
dist/
*.spec

# My project directories
proj*/*
