# Visual Studio Code files
.vscode/

# Build files
build/

# Ignoring python cache files
__pycache__/

# VMD files
*.xyz

# Executive files
main
test
argos_nia_start
*.out
*.o

# ROOT CERN files
*.root

# GMSH files
*.pos*
*.msh*
*.geo*

# HDF5 format
*.hdf5
*.h5

# GNU plot files
*.gp

# Pictures
*.jpg
*.jpeg
*.png

# CSVs
*.csv

# Archives
*.tar*
*.rar
*.zip

# Caches
*.cache*

# Configs
*.config
*.cfg
config*.json
