# Visual Studio Code files
.vscode/

# Build files
build/

# Ignoring python cache files
__pycache__/

# VMD files
*.xyz

# Executive files
main
test
*.out
*.o

# ROOT CERN files
*.root

# GMSH files
*.msh
*.pos

# Other
*.txt
